.galery {
    background-image: url(../../images/galery/tlo-galery.jpg);
    height: 440px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.galery__left {
    margin-right: 50px;
}

.galery__container {
    display: flex;
}

.galery__title {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 20px;
}

.galery__select-title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.galery__checkbox-label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    margin-bottom: 5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}
  
#check {
    display: none;
}
#check2 {
    display: none;
}
#check3 {
    display: none;
}
  
.galery__check-item + span {
    position: absolute;
    top: 9px;
    left: 0;
    width: 12px;
    height: 12px;
    align-items: center;
    border-radius: 0px;
    border: 1px solid #999999;
}
  
.galery__check-item + span:hover {
    border: 1px solid #C283F3 !important;
}
  
.galery__check-item + span:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #C283F3;
    top: 3px;
    right: 0;
    bottom: 0;
    left: 3px;
    opacity: 0;
    border-radius: 50%;
    transition: opacity .3s ease-in-out;
}

.galery__check-item:checked + span:before {
    opacity: 1;
}
  
.galery__checkbox-container {
    display: inline-flex;
    flex-direction: column;
    margin-top: 160px;
}
  
.galery__check-name {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}
  
.galery__check-name:hover {
    color: #C283F3;
}

.galery__right {
    width: 1230px;
    overflow: hidden;
    margin-top: 25px;
}

.galery__wrapper {
    width: 350px;
}

.galery__navigation-container {
    display: flex;
    width: 150px;
    align-items: center;
    margin-bottom: 40px;
}

.galery__swiper-button-prev {
    z-index: 100;
    cursor: pointer;
    width: 50px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--grey-light);
    margin: 2px;
}

.galery__swiper-button-next {
    z-index: 100;
    cursor: pointer;
    width: 50px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--grey-light);
    margin: 2px;
}

.galery__swiper-button-prev::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    transform: translate(11px, calc(-70% + 11px)) rotate(135deg);
    color: var(--black-light);
}

.galery__swiper-button-next::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    transform: translate(9px, calc(-70% + 11px)) rotate(-45deg);
    color: var(--black-light);
}

.galery__swiper-button-prev:hover {
    outline: 1px solid var(--button);
}
.galery__swiper-button-next:hover {
    outline: 1px solid var(--button);
}
.galery__swiper-button-prev:focus {
    background-color: var(--blue-light);
    outline: none;
}
.galery__swiper-button-next:focus {
    background-color: var(--blue-light);
    outline: none;
}
.galery__swiper-button-prev:active {
    background-color: var(--blue-light);
    outline: 1px solid var(--button);
}
.galery__swiper-button-next:active {
    background-color: var(--blue-light);
    outline: 1px solid var(--button);
}

.fraction {
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
}

.galery__image {
    cursor: pointer;
    z-index: 0;
}

.galery__image:hover {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
}

.galery__slide {
    padding: 0;
}

.galery__slide:hover {
    background-image: url(../../images/galery/hover-galery.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    z-index: 10;
}

.galery__slide:focus {
    outline: 3px solid var(--hover);
}

.galery__card-active {
    width: 900px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 0;
    z-index: 100;
    display: none;
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
}

.galery__card-container {
    display: flex;
    position: relative;
}

.galery__card-content {
    padding: 50px;
}

.galery__card-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
}

.galery__card-subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}

.galery__card-date {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #999999;
}

.galery__card-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}

.galery__delete {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

.overlay {
    display: block;
}

.galery__swiper {
    position: relative;
}

