.header {
    background-color: black;
}

.header__container-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header__media-nav {
    display: none;
}

.header__nav-top-list {
    display: flex;
    flex-wrap: wrap;
}

.header__nav-top-item:not(:last-child) {
    margin-right: 62px;
}

.header__navigation-top {
    margin-right: 200px;
}

.header__nav-top-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: var(--white);
}

.header__nav-top-link:hover {
    color: var(--focus);
    background-color: transparent;  
}

.header__nav-top-link:focus {
    background-color: var(--hover);
}

.header__nav-top-link:active {
    background-color: transparent;
    color: var(--active);
}

.header__login {
    display: flex;
}

.header__btn-login {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    color: var(--white);
    padding-left: 25px;
    transition: var(--transition-color-03s);
    outline: none;
}

.header__btn-login:focus-visible {
    background-color: var(--hover);
    outline: none;
}

.header__btn-login::before {
    content: "";
    position: absolute;
    top: 22%;
    left: 0;
    width: 14px;
    height: 14px;
    overflow: hidden;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.62056 9.09278L10.6389 10.1111L14.25 6.5L10.6389 2.88889L9.62056 3.90722L11.4839 5.77778H0V7.22222H11.4839L9.62056 9.09278ZM16.0556 0H5.94444C5.14278 0 4.5 0.65 4.5 1.44444V4.33333H5.94444V1.44444H16.0556V11.5556H5.94444V8.66667H4.5V11.5556C4.5 12.35 5.14278 13 5.94444 13H16.0556C16.85 13 17.5 12.35 17.5 11.5556V1.44444C17.5 0.65 16.85 0 16.0556 0Z' fill='%23ffffff'/%3e%3c/svg%3e ");
    background-position: right;
    background-repeat: no-repeat;
    transition: background .3s ease-in-out;
    z-index: 20;
}

.header__btn-login:hover {
    color: var(--focus);
    background-color: transparent;
}

.header__btn-login:active {
    color: var(--active);
}

.header__btn-login:hover::before {
    width: 17px;
    height: 14px;
    left: -3px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.62056 9.09278L10.6389 10.1111L14.25 6.5L10.6389 2.88889L9.62056 3.90722L11.4839 5.77778H0V7.22222H11.4839L9.62056 9.09278ZM16.0556 0H5.94444C5.14278 0 4.5 0.65 4.5 1.44444V4.33333H5.94444V1.44444H16.0556V11.5556H5.94444V8.66667H4.5V11.5556C4.5 12.35 5.14278 13 5.94444 13H16.0556C16.85 13 17.5 12.35 17.5 11.5556V1.44444C17.5 0.65 16.85 0 16.0556 0Z' fill='%23C283F3'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: right;
    overflow: visible;
}

.header__btn-login:active::before {
    width: 17px;
    height: 14px;
    left: -3px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.62056 9.09278L10.6389 10.1111L14.25 6.5L10.6389 2.88889L9.62056 3.90722L11.4839 5.77778H0V7.22222H11.4839L9.62056 9.09278ZM16.0556 0H5.94444C5.14278 0 4.5 0.65 4.5 1.44444V4.33333H5.94444V1.44444H16.0556V11.5556H5.94444V8.66667H4.5V11.5556C4.5 12.35 5.14278 13 5.94444 13H16.0556C16.85 13 17.5 12.35 17.5 11.5556V1.44444C17.5 0.65 16.85 0 16.0556 0Z' fill='%237943A4'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: right;
    overflow: visible;
}

.header__bottom {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 2;
    width: 100%;
}

.header__container-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 28px;
    padding-top: 23px;
}

.header__dropdown {
    display: flex;
    flex-wrap: wrap;
}

.header__dropdown-container {
    margin-right: 111px;
}

.header__dropdown-btn {
    border: none;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.header__dropdown-btn::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    transform: translate(5px, calc(-50% + 2px)) rotate(45deg);
    transition: transform 0.2s ease;
    transform-origin: center;
    margin-right: 5px;
    margin-left: 10px;
}



.header__dropdown-btn:focus {
    color: var(--white);
    background-color: var(--hover);
}

.header__dropdown-btn:hover {
    background-color: transparent;
    color: var(--focus);
    
}

.header__dropdown-btn:active {
    background-color: transparent;
    color: var(--active);
}

.header__dropdown-btn.active::after {
    transform: rotate(225deg);
}



.header__dropdown-menu {
    display: none;
}

.header__dropdown-menu-active {
    display: block;
    position: absolute;
    top: 78px;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.4);
}

.custom-scroll {
    width: 300px;
    height: 250px;
}

.header__dropdown-item {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    width: 220px;
}

.header__dropdown-item:hover {
    outline: 1px solid var(--hover);
}

.header__dropdown-item:active {
    filter: grayscale(1);
}

.header__dropdown-link {
    padding: 10px 110px 10px 10px;
    width: 100px;
    height: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: var(--white);
}

.header__bottom-form {
    position: relative;
}

.header__bottom-form-btn {
    position: absolute;
    top: 5px;
    right: 105%;
    width: 22px;
    padding: 0;
    background: transparent;
    border: none;
}

.header__bottom-input {
    max-width: 200px;
    border: none;
    background: transparent;
    color: var(--white);
    border-bottom: 1px solid var(--white);
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    outline: none;
    transition: border 0.1s linear;
}

.header__bottom-input::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--white);
}

.header__bottom-input:focus-within {
    border-bottom-color: var(--focus);
}

.header__bottom-input:focus-within::placeholder {
    opacity: 0;
}

.header__bottom-input:hover:not(:focus) {
    cursor: pointer;
    border-bottom-color: var(--hover);
}



.header__search-container {
    display: none;
}

.header__search {
    display: none;
}


.header__login-open {
    width: 100%;
    /* height: 100%; */
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    z-index: 100;
    left: 0;
    display: none;
}

.header__login-open-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
}

.header__login-open-title {
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #FFFFFF;
}

.header__login-open-content {
    border: 3px solid white;
    padding: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin-bottom: 220px;
}

.header__login-hello {
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.header__input {
    background: transparent;
    border: 2px solid white;
    padding: 10px 30px;
    margin-bottom: 20px;
    color: white;
}

.header__input-btn {
    background: white;
    border: 2px solid white;
    padding: 10px 100px;
    margin-bottom: 20px;
    color: black;
}

.header__registration {
    color: white;
}

.header__login-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 70px;
}

.login {
    display: block;
}

